<!-- footer -->
<footer>
    <!-- google map address -->
    <div class="visit-address">
        <h3>VISIT US</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47157.078019682114!2d-71.14792912955431!3d42.37838502136754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e370a5cb30cc5f%3A0xc53a8e6489686c87!2sCambridge%2C%20MA!5e0!3m2!1sen!2sus!4v1683241912454!5m2!1sen!2sus" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- social medias icons -->
    <div class="social-media">
        <h3>FOLLOW US</h3>
        <div class="media-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a><br/>
        <a href="#"><i class="fa-brands fa-instagram"></i></a><br/>
        <a href="#"><i class="fa-brands fa-twitter"></i></a><br/>
        <a href="https://www.linkedin.com/in/zhikeng-kong/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a><br/>
        <a href="#"><i class="fa-brands fa-weixin"></i></a>
        </div>
    </div>
    <!-- insert about links here -->
    <!-- insert support links here -->
    <div class="resources-links">
        <h3>RESOURCES</h3>
        <button type="submit" class="link-button"><a href="">SUPPORT</a></button>
        <button type="submit" class="link-button"><a href="">FAQS</a></button>
        <button type="submit" class="link-button"> <a href="">NEWSROOM</a></button>
        <button type="submit" class="link-button"><a href="">CAREERS</a></button>
        <button type="submit" class="link-button"><a href="">TERMS OF CONDITION</a></button>
    </div>
    <!-- insert logo here -->
    <div class="ma-bottom-logo">
        <h3>POWERED BY</h3>
        <a href="/about" target="_blank" rel="noopener noreferrer"><img src="/images/LOGO-02.png" alt="HOUSING_AID_BOTTOM_LOGO"></a>
         <div id="current_date">
         </div>
    </div>
   </footer>
   
</body>
</html>