 <!-- navigation bar -->
 <nav>
    <!-- search engine -->
    <!-- <div class="search-bar">
       <input id="" name="search_bar" type="search_bar" placeholder="Search..." /><button><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></button>
    </div> -->
    <!-- insert logo here -->
    <div class="ma-logo">
        <a href="/housing-survey" target="_blank" rel="noopener noreferrer"><img src="/images/LOGO-01.png" alt="HOUSING_AID_LOGO"></a>
    </div>
    <!-- google search engine-->
    <!-- <div class="search-engine">
    <script async src="https://cse.google.com/cse.js?cx=d2138c43b0b5842a5">
   </script>
    <div class="gcse-search">
    </div>
    </div> -->
    <!-- links to another pages -->
    <div class="link-pages">
       <button type="submit" class="nav-button"><a href="/"><h2>HOME</h2></a></button>
       <button type="submit" class="nav-button"><a href="/about"><h2>ABOUT</h2></a></button>
       <button type="submit" class="nav-button"><a href="/housing-survey"><h2>SURVEY</h2></a></button>
       <button type="submit" class="nav-button"><a href="/login"><h2>LOGIN</h2></a></button>
    </div>
    <!-- menu hamburger icon -->
    <div class="menu-icon">
        <a href=""><i class="fa fa-bars"></i></a>
        <div class="menu-links">
         <button type="submit" class="link-button"><a href="/" class="link">HOME</a></button>
         <button type="submit" class="link-button"><a href="/about" class="link">ABOUT</a></button>
         <button type="submit" class="link-button"><a href="/housing-survey" class="link">SURVEY</a></button>
         <button type="submit" class="link-button"><a href="/login" class="link">LOGIN</a></button>
        </div>
     </div>
   </nav>