<div class="scroll-bar">
  <div class="scroll-parent">
    <div class="scroll-element primary">
      <img src="https://zhikeng.github.io/demoAPI/sponsorLogo/MassHousingReversed.png" alt="MassHousing" />
      <img src="https://zhikeng.github.io/demoAPI/sponsorLogo/CodeSquad-logo-b.png" alt="CodeSquad" />
      <img src="https://zhikeng.github.io/demoAPI/sponsorLogo/BHCC.png" alt="BHCC" />
      <img src="https://zhikeng.github.io/demoAPI/sponsorLogo/MIT.png" alt="MIT" />
      <img src="https://zhikeng.github.io/demoAPI/sponsorLogo/MassMap.png" alt="MassMap" />
    </div>
    <div class="scroll-element secondary">
      <img src="https://zhikeng.github.io/demoAPI/sponsorLogo/MassHousingReversed.png" alt="MassHousing" />
      <img src="https://zhikeng.github.io/demoAPI/sponsorLogo/CodeSquad-logo-b.png" alt="CodeSquad" />
      <img src="https://zhikeng.github.io/demoAPI/sponsorLogo/BHCC.png" alt="BHCC" />
      <img src="https://zhikeng.github.io/demoAPI/sponsorLogo/MIT.png" alt="MIT" />
      <img src="https://zhikeng.github.io/demoAPI/sponsorLogo/MassMap.png" alt="MassMap" />
    </div>
  </div>
</div>