<div class="scroll-background">
    <div class="scroll-chart">
        <div class="scroll-photo primary">
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q1.png" alt="Chart 1" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q2.png" alt="Chart 2" />
            <!-- <img src="https://zhikeng.github.io/demoAPI/housingChart/Q3.png" alt="Chart 3" /> -->
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q4.png" alt="Chart 4" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q5.png" alt="Chart 5" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q6.png" alt="Chart 6" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q7.png" alt="Chart 7" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q8.png" alt="Chart 8" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q9.png" alt="Chart 9" />
        </div>
        <div class="scroll-photo secondary">
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q1.png" alt="Chart 1" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q2.png" alt="Chart 2" />
            <!-- <img src="https://zhikeng.github.io/demoAPI/housingChart/Q3.png" alt="Chart 3" /> -->
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q4.png" alt="Chart 4" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q5.png" alt="Chart 5" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q6.png" alt="Chart 6" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q7.png" alt="Chart 7" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q8.png" alt="Chart 8" />
            <img src="https://zhikeng.github.io/demoAPI/housingChart/Q9.png" alt="Chart 9" />
        </div>
    </div>
</div>