<%- include('../partials/head') -%>

    <%- include('../partials/navbar') -%>

        <main>
            <div class="content">
                <span><button class="add-button"><a href="./create-res">ADD
                            RESPONSES</a></button></span>
                <span><button class="logout-button"><a href="/logout/">LOGOUT</a></button></span>
                <h1>HOUSING ASSISTANCE SURVEY'S RESPONSES</h1>
                <div class="table-responsive">
                    <%- include('../partials/response-listing') -%>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') -%>