<%- include('../partials/head') -%>

  <%- include('../partials/navbar') -%>

    <!-- content -->
    <main>
      <!-- <div class="layout"> -->
      <div class="content">
        <h1>REGISTER</h1>
        <fieldset>
          <form action="/register" method="POST" class="form">
            <label for="username">Enter your username: <input id="username" name="username" type="text"
                placeholder="username"></label>
            <label for="password">Create a new password: <input id="password" name="password" type="password"
                pattern="[a-z 0-5]{8}" placeholder="8characters" required></label>
            <label for="termsAndConditions"><input id="termsAndConditions" type="checkbox" required
                name="termsAndConditions" class="inline">I accept the <a href="#">terms and conditions</a></label>
            <div>
              <input type="submit" value="Submit" class="form-button" onclick="register()" />
            </div>
            <div>
              <button class="form-button" onclick="register()">
                <a href="/auth/google" role="button" class="login-font">Register with <i
                    class="fa-brands fa-google"></i></a>
              </button>
            </div>
            <script>
              function register() {
                alert("Thank you for your registration!")
              }
            </script>

          </form>
        </fieldset>
      </div>
      <!-- </div> -->
    </main>

    <%- include('../partials/footer') -%>