:root {
    --black:#000000;
    --aquamarine:#7fffd4;
    --gold:#cdcd16;
    --blue:#095a94;
    --white:#ffffff;
    --aqua:#00ffff;
    --goldenrod:#daa520;
    --teal:#006B6B;
    --grey:#C2C2C2;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    /* background-color: var(--black); */
    /* background-image: linear-gradient(#ffffff,#5d6262,#000000); */
    color:var(--aquamarine);
    background-image: url("/public/images/layout-photo2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

nav {
    background-color: var(--blue);
    width: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

/* .search-bar {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.search-bar input {
    width:400px;
    height:40px;
    border:3px solid var(--gold);
    border-radius: 5px;
    font-size:1.3rem;
}

.search-bar button {
    position:relative;
    right: 2px;
    width:50px;
    height:40px;
    font-size: 1.3rem;
    color:var(--gold);
    background-color: var(--blue);
    border:3px solid var(--gold);
    border-radius: 5px;
} */

.ma-logo {
    width:300px;
    height:150px;
}

.search-engine {
    width:200px;
    margin:0 20px;
}

.link-pages {
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: space-between;
    flex: 0.5 1 auto;
}

.fa-bars {
    font-size: 45px;
    margin:0 auto;
    display: inline-block;
    padding:40px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2,
h3 {
    font-family: 'Shojumaru', cursive;
}

p {
    font-size: 1.5rem;
}

.layout {
    width: 100%;
    height: auto;
    min-height:fit-content;
    max-width: 100vw;
    min-width: fit-content;
    margin: 0;
    overflow-x: hidden;
    background-image: linear-gradient(#ffffff,#90908c,#daa520);
}

.content {
    background-color: var(--blue);
    width:80%;
    min-width:fit-content;
    border: var(--gold) 5px solid;
    margin: 5% auto;
    padding: 6% 5%;
    border-radius: 8px;
}

.map {
    height:100vh;
    width:100%;
    min-width: fit-content;
    /* border:#cdcd16 solid 3px; */
    background-image: url("/public/images/map-of-massachusetts.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /* z-index: 1; */
}

.form {
    margin:0 auto;
    min-width:fit-content;
    width: 60vw;
    /* max-width: 800px;  */
    /* min-width: 300px;  */
}

fieldset {
    border:none;
    margin-bottom:12px;
    margin:0 auto;
    overflow: hidden;
    padding:0.625em;
    display: flex;
    align-items: center;
    flex-wrap: column wrap;
}

label {
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    margin: 0.5rem auto;
    padding: 3px 6px;
    text-align: right; 
    /* vertical-align: top;  */
}

input,
select,
textarea {
    font-size: inherit;
    width:30vw;
    border: 2px var(--gold) solid;
    border-radius: 8px;
    min-width: fit-content;
}

textarea {
    resize: none;
    height:150px;
    vertical-align:text-top;
}

.login-button,
.form-button {
    background-color: var(--goldenrod);
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 150px;
    color:var(--blue);
    display: block;
    margin: 20px auto;
    padding:2px;
    border:var(--aqua) solid 3px;
    border-radius: 8px;
}

.nav-button {
    background-color: var(--teal);
    font-weight: bold;
    min-width: 100px;
    color:var(--blue);
    display: block;
    margin: 0 auto;
    padding:2px;
    border:var(--aqua) solid 1px;
    border-radius: 50%;
}

.link-button {
    background-color:var(--goldenrod);
    font-weight: bold;
    color:var(--white);
    display: block;
    border:var(--gold) solid 2px;
    border-radius: 10px;
}

.register-link {
    position:relative;
    width:300px;
    height:100px;
    float: right;
}

footer {
    margin:0 auto;
    background-color: var(--blue);
    padding: 2% 3%;
    width:100%;
    max-width: 100vw;;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row wrap;
}

/* .ma-bottom-logo {
    width:200px;
    padding:3px;
} */

.fa-brands {
    font-size: 40px;
    margin:8px auto;
    padding: 0 10px;
}

.resources-links {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    /* align-content: center; */
}

#current_date {
    text-align: center;
}

#auto_photo {
    height: 600px;
    width: 800px;
    min-width: fit-content;
    min-height: fit-content;
    margin:0 auto;
    display: block;
    /* border:var(--black) solid 3px;  */
    background-size: contain; 
    background-repeat: no-repeat;
}

a:link,
a:visited {
    color:var(--white);
    text-decoration: none;
}

a:hover {
    color:var(--gold);
    font-weight: bold;
}

a:active {
    color:var(--blue);
    font-weight: bold;
    background-color: var(--gold);
}



@media screen and (min-width:320px) and (max-width:768px) {
    nav {
        background-color: var(--blue);
        width: 100%;
        max-width: 100vw;
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
        flex-flow: column wrap;
    }


    .ma-logo {
        width:300px;
        height:150px;
    }
    
    .search-engine {
        margin: 0 20px;
    }

    .link-pages {
        display: none;
    }

    footer {
        margin:0 auto;
        background-color: var(--blue);
        padding: 2% 3%;
        width:100%;
        max-width: 100vw;;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-flow: column wrap;
    }

    .menu-icon {
        position:relative;
        display: block;
    }
 
     .menu-links {
        position: absolute;
        top:100px;
        left:35px;
        display: none;
     }

     .menu-links button {
        margin: 10px 0;
     }

     .menu-links a {
        margin:0 auto;
        display: block;
    }

    .menu-icon:hover .menu-links {
        display: block;
    }

    #auto_photo {
        height: 300px;
        width: 400px;
        min-width: fit-content;
        min-height: fit-content;
        margin:0 auto;
        display: block;
        /* border:var(--black) solid 3px;  */
        background-size: contain; 
        background-repeat: no-repeat;
    }

    .resources-links button {
        margin: 10px;
    }

}

@media screen and (min-width:769px) and (max-width:1024px) {
    .link-pages {
        display: none;
    }

    footer {
        margin:0 auto;
        background-color: var(--blue);
        padding: 2% 3%;
        width:100%;
        max-width: 100vw;;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-flow: column wrap;
    }


    .menu-icon {
        position:relative;
        display: block;
    }
 
     .menu-links {
        position: absolute;
        top:100px;
        left:35px;
        display: none;
     }

     .menu-links button {
        margin: 10px 0;
     }

     .menu-links a {
        margin:0 auto;
        display: block;
    }

    .menu-icon:hover .menu-links {
        display: block;
    }

    #auto_photo {
        height: 450px;
        width: 600px;
        min-width: fit-content;
        min-height: fit-content;
        margin:0 auto;
        display: block;
        /* border:var(--black) solid 3px;  */
        background-size: contain; 
        background-repeat: no-repeat;
    }

    .resources-links button {
        margin: 10px;
    }


}

@media screen and (min-width:1024px) {
    .menu-icon {
        display: none;
    }

}